{{ define "style" }}
<style type="text/css">
  #main {
    max-width: unset;
  }

  #side,
  #extra {
    display: none;
  }
</style>
{{ end }}

{{ define "main" }}

<article>
  <section>
    <h1>{{ .Title }}</h1>
    <ul>
      {{ range $items := .Site.Taxonomies.archives.Alphabetical.Reverse }}
      <li><a class="muted-link" href="{{ $.Site.BaseURL }}archives/{{ .Name | urlize | lower }}">{{ .Name }}</a></li>
      <ul>
        {{ range .Pages.ByPublishDate.Reverse }}
        <li>
          <a class="muted-link" href="{{ $.Site.BaseURL }}{{ .Section }}">{{ .CurrentSection.Title | humanize }}</a>
          <a class="muted-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}